/*pile verticale de contenu avec rythme */
body {
	display: flex;
	flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
}


nav {
	font-family: 'Exo 2', sans-serif;
}

main {
	padding: var(--espace-grand);
	align-self: center;
	min-width: 60ch;
}


/* formulaire */
form {
	margin: var(--espace-petit);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--espace-tres-petit);
	max-width: 20ch;
}


input {
	padding: 5px;
}

input[type=submit]{
	margin-top: var(--espace-moyen);
	max-width: 100px;
}

label {
	margin-top: var(--espace-petit);
}

/*tables*/

table {
	margin: var(--espace-grand) 0px;
}

td, th {
	padding: var(--espace-petit);
	text-align: left;
	max-width: var(--espace-250);
}
th {
	top: 0;
}
tbody {
	font-family: 'Alegreya Sans', serif;
}



