.menu {
    display: flex;
    flex-direction: row;
    background-color: var(--gris-pale);
    gap: var(--espace-moyen);
    align-items: center;
    justify-content: space-between;
}

.menu div {
    margin-right: var(--espace-moyen);
}
.menu div a {
    padding: var(--espace-petit);
}

.menu div a:hover {
    background-color: var(--gris-fonce);
    color: var(--blanc);
} 

.menu header{
    margin: var(--espace-tres-petit) var(--espace-moyen);
    display: flex;
    flex-direction: row;
    gap: var(--espace-petit);
    align-items: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: var(--police-petit);
}

.menu img {
    width: var(--espace-grand);
    height: var(--espace-grand);
    
}